* {
	margin: 0 auto;
}

html, body {
	font-family: helvetica, sans-serif;

}

.content {
	width: 990px;
	

}

/*************
Header & Nav
 ************/

.header-container {
	background-color: #4DBC99;
    position: relative;
    height: 95px;
}

nav {
	float: right;
	position: relative;
	top: 45px;
	right: 55px;
	padding-right: 60px;
}

.logo h1 {
	position: absolute;
	left: 115px;
	top: 30px;
	color: white;
}

nav li {
   float: left;
   display: inline-block;
   padding-left: 15px;

}

a {
	text-decoration: none;
	color: #EBFBFF;
	font-weight: bold;
	letter-spacing: .5px;
}

/*************
 clearfix
 ************/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
}

/*************
Content
 ************/

.content {

/*	background-color: #707140;*/
}

/*************
Main Slideshow
 ************/

#hero {
      width: 960px;
 	  height: 580px;
 	  margin: 50px auto;
 	  position: relative;
    	}

    #slider {
    	position: absolute;
    	overflow: hidden;
    	width: 960px;
    	height: 580px;
    }
    #next {
    	text-align: center;
    	width: 50px;
    	height: 50px;
    	background-color: rgba(183,0,3,0.5);
    	line-height: 50px;
    	color: white;
    	position: absolute;
    	top: 250px;
    	right: 5;
    	z-index: 99;
    	cursor: pointer;
		opacity: 0;
		border-radius: 100%;
    }

    #prev {
    	text-align: center;
    	width: 50px;
    	height: 50px;
    	background-color: rgba(183,0,3,0.5);
    	line-height: 50px;
    	color: white;
    	position: absolute;
    	top: 250px;
    	left: 5;
    	z-index: 99;
    	cursor: pointer;
		opacity: 0;
		border-radius: 100%;
    }

    #hero:hover #next {
    	opacity: 1;
    	transition: all .5s ease-out;
    	-webkit-transition: all .5s ease-out;

    }

     #hero:hover #prev {
    	opacity: 1;
    	transition: all .5s ease-out;
    	-webkit-transition: all .5s ease-out;

    }
     
     .info {
     	width: 960px;
     	height: 80px;
     	position: absolute;
     	top: 580px;
     	z-index: 99;
     	background-color: rgba(160,02,0,0.5);
     	opacity: 0;
     }

     #hero:hover .info {
       opacity: 1;
       top: 500px;
       -webkit-transition: all .5s ease-out;
     }

		.info h2 {
			font-family: sans-serif;
			font-weight: bold;
			color: #fff;
			padding: 0 20px;
			margin-top: 15px;
		}


		.info p {
			font-family: sans-serif;
			font-weight: lighter;
			color: #fff;
			padding: 0 20px;
			margin-top: -15px;
		}

/*************
Main Slideshow
 ************/
 .main-slideshow {
    text-align: center;
    height: 620px;
   border-bottom: 3px solid #5A615D;
 }
#main-slide img {
    width: 990px;
	height: 520px;
 }
 
 .main-headline {
   position: relative;
  
  /* background-color: rgba(49, 52, 53, 0.71);*/
   width: 400px;
   padding: 20px;
   border-radius: 40px;
   left: 295px;
   bottom: 170px;
 }
#white_bg {
	background-color: rgba(255, 255, 255, 0.8);
		padding: 8px;
		text-align: left;
		font-size: 39px;
		border-radius:  10px 0px 0px 2px;;
}
#white_sm {
	background-color:rgba(255, 255, 255, 0.8);
	font-size: 26px;
     width: 340px;
     position: relative;
     left: 30px;
    
	padding-bottom: 5px;
	border-radius: 0px 0px 0px 2px;;
}


 h2, h3, p {
 	color: black;
 }

/*************
  Articles
 ************/

.container-headline p {
	font-size: 46px;
	text-align: center;
	font-weight: bold;
	color: #43AB81;
	padding-bottom: 55px;
	border-top: 3px solid #5A615D;

}



 .container {
 	/*background-color: #7D7D7D;*/
 	padding: 30px;
 	padding-bottom: 100px;

 	

 }

.article1 {
	width: 300px;
	float: right;
	position: relative;
	right: 110px;


}

 .article1 img{
 	width: 440px;
 	border-radius: 50px;
 }

 .article2 {
	width: 300px;
	/*padding-right:710px;*/
	position: relative;
	right: 345px;
}

 .article2 img{
 	width: 440px;
 	border-radius: 50px;
 }

hgroup {
	background-color: white;

}


.article-headline {
	position: relative;
	left: 90px;
}


/*************
  Blog Page
 ************/

.content-blog {
	
	width: 990px;
	height: 900px;
	

}


.blog-page h2 {
    font-size: 76px;
    position: relative;
    left: 650px;
    top: 20px;


}


.featured-articles {
	/*text-align: center;*/
	/*position: relative;
	font-family: helvetica, sans-serif;*/
	margin-top: 95px;
	width: 960px;
	height: 700px;



}






.headline_2 {
	float: right;
	position: relative;
	bottom: 0px;
	padding-bottom: 70px;
}

.words_2 {
	float: left;
	text-align: left;
	width: 300px;
}

.second_article {
	width: 600px;
	border-radius: 50px;

}

.first_article {
	width: 600px;
	border-radius: 50px;

}




/*************
  Route page
 ************/


.route-wrapper {
	width: 960px;

}
.expand_banner {
	width: 990px;
	height: 200px;
	position: relative;
	top: 35px;
}

map {
	padding: 200px;

}
.map {
	padding-top: 80px; 
	padding-bottom: 90px;
}

/*************
  about page
 ************/

.author {
	font-size: 79px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.author-pic {
	border-radius: 100%;

	text-align: center;
	width: 500px;
	height: 500px;

}


/*************
 Blog 1
 ************/

.color-gray h2 {
	color: #373737;
	text-align: center;
	position: relative;
	left: 280px;
}

.blog_1_article {
	text-align: center;
}

div .blog_1_img img{
	
	margin-top: 30px;
	width:960;
	height:480;
}

.headline_art_1 h3 {
	text-transform: uppercase;
	position: relative;
	right: 350px;
	bottom: 50px;
	color: white;
	letter-spacing: 1px;

}

p.intro:first-line{
	font-weight: bold;
}
p.intro:first-letter{
	font-size: 200%;
}

.para_art_1 p {
	width: 960px;
	text-align: left;
	/*line-height: 21px;*/
	font-size:16px;
	line-height:1.7em;

}

br {
	padding: 20px;
}







/*************
  Footer
 ************/

footer {
	background-color: #4DBC99;
    text-align: center;
    color: white;
    position: relative;
    padding: 10px;
  
    height: 80px;

}


/*************
 Home | slide
 ************/


#hero {
				width: 960px;
				height: 580px;
				position: relative;
				margin: 50px auto;
			}


			#slider {
				position: absolute;
				overflow: hidden;
				width: 960px;
				height: 580px;

			}
			#next {
				color: white;
				line-height: 50px;
				text-align: center;
				width: 50px; height: 50px;
				background-color: rgba(60, 178, 134, 0.72);
				position: absolute;
				top: 255px;
				right: 0px;
				z-index: 99;
				cursor: pointer;
				opacity: 0;
			}
			#prev {
				color: white;
				line-height: 50px;
				text-align: center;
				width: 50px; height: 50px;
				background-color: rgba(60, 178, 134, 0.72);
				position: absolute;
				top: 255px;
				left: 0px;
				z-index: 99;
				cursor: pointer;
				opacity: 0;
			}

			#hero:hover #next {
				opacity: 1;
				transition: all .5s ease-out;
				-webkit-transition: all .5s ease-out;
			}

			#hero:hover #prev {
				opacity: 1;
				transition: all .5s ease-out;
				-webkit-transition: all .5s ease-out;
			}

			.info {
				width: 960px;
				height: 80px;
				position: absolute;
				top: 580px;
				z-index: 99;
			
				background-color: rgba(60, 178, 134, 0.72);
				opacity: 0;
			}
			#hero:hover .info {
				opacity: 1;
				-webkit-transition: all .5s ease-out;
				top: 500px;
			}

			.info h2 {
				font-family: sans-serif;
				font-weight: bold;
				color: white;
				padding: 0 20px;
				margin-top: 15px;
			}
			.info p{
				font-family: sans-serif;
				font-weight: lighter;
				color: white;
				padding: 0 20px;
				margin-top: 5px;
			}






/*
.article-item {
    height: auto;
    width: 48.618784527%;
    float: left;
    margin-bottom: 2em;
    position: relative;
}*/

  /*  .article-item:first-child {
        margin-right: 2.762430939%;
    }*/

/*.article-item img {
    width: 100%;
}*/

/*.article-item:hover .img-title {
    opacity: 1;
}

.article-item {
  width: 50px;
}*/

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    /*height: 70%;*/

   width: 440px;
    text-align: center;
    /*opacity: 0;*/
    display: none; /* comment this out for CSS hover */
    background-color: rgba(60, 178, 134, 0.72);
    /*transition: all 0.5s ease;*/
    border-radius: 50px;
    height: 328px;

}

    .img-title h5 {
        position: absolute;
        color: #fff;
        top: 33%;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }

     .img-title p {
        position: absolute;
        color: #fff;
        top: 44%;
        /*width: 100%;*/
        text-align: center;
        font-weight: lighter;
    }


/*************
 @media queries
 ************/
/*
 @media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}*/


@media only screen and (max-width: 750px)  {


body {
  background-color: lightgreen;

}
.main-nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #222;
   text-align: center;
   /*transform: translateX(-100%);
   transition: transform 0.6s ease;*/
}
 


.main-nav  ul a{
  display: block;
  font-size: 30px;
  padding: 10px 20px;
}

.nav-toggle {
	position: absolute;
	top: 30px;
	cursor: pointer;
}

 nav {


	
/*	position: relative;
	top: 45px;
	right: 55px;
	padding-right: 60px;*/
}


nav li {
   
   

}
}

@media only screen and (min-width: 769px) {}





